# Import library

In [1]:
import pandas as pd

# Import data

In [2]:
xlsx = pd.ExcelFile('KPMG_VI_New_raw_data_update_final.xlsx')
cus_transaction=pd.read_excel(xlsx, 'Transactions')
cus_list = pd.read_excel(xlsx, 'NewCustomerList')
cus_demographic= pd.read_excel(xlsx, 'CustomerDemographic')
cus_address = pd. read_excel(xlsx,'CustomerAddress')

# Analyse Customer List data

In [3]:
cus_list

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.53,0.6625,0.828125,0.703906,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.51,0.5100,0.637500,0.541875,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,0.84,0.8400,0.840000,0.840000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.51,0.6375,0.637500,0.637500,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.66,0.6600,0.825000,0.825000,4,4,1.703125
5,Druci,Brandli,Female,39,1951-04-29,Assistant Media Planner,Entertainment,High Net Worth,N,Yes,...,QLD,Australia,7,1.01,1.2625,1.262500,1.262500,6,6,1.671875
6,Rutledge,Hallt,Male,23,1976-10-06,Compensation Analyst,Financial Services,Mass Customer,N,No,...,NSW,Australia,7,0.40,0.4000,0.400000,0.340000,6,6,1.671875
7,Nancie,Vian,Female,74,1972-12-27,Human Resources Assistant II,Retail,Mass Customer,N,Yes,...,QLD,Australia,5,0.73,0.9125,0.912500,0.775625,8,8,1.656250
8,Duff,Karlowicz,Male,50,1972-04-28,Speech Pathologist,Manufacturing,Mass Customer,N,Yes,...,NSW,Australia,10,1.01,1.2625,1.578125,1.341406,8,8,1.656250
9,Barthel,Docket,Male,72,1985-08-02,Accounting Assistant IV,IT,Mass Customer,N,Yes,...,QLD,Australia,5,0.96,1.2000,1.200000,1.020000,10,10,1.640625
10,Rockwell,Matson,Male,94,1995-01-01,Programmer Analyst I,Retail,High Net Worth,N,No,...,QLD,Australia,6,0.54,0.5400,0.675000,0.675000,10,10,1.640625
11,Wheeler,Winward,Male,48,1999-08-30,Environmental Specialist,Manufacturing,Mass Customer,N,No,...,VIC,Australia,8,0.91,0.9100,0.910000,0.773500,12,12,1.625000
12,Olag,NaN,Male,60,1990-05-13,Human Resources Manager,Telecommunications,Mass Customer,N,No,...,NSW,Australia,11,0.73,0.7300,0.912500,0.775625,13,13,1.609375
13,Melba,Spellacy,Female,38,1976-12-09,VP Marketing,Health,Mass Customer,N,No,...,NSW,Australia,10,0.88,0.8800,1.100000,0.935000,14,14,1.593750
14,Mandie,Feares,Female,32,1964-04-19,Clinical Specialist,Health,Mass Customer,N,No,...,QLD,Australia,8,0.74,0.7400,0.740000,0.629000,14,14,1.593750
15,Dukie,Swire,Male,88,1954-03-31,NaN,Manufacturing,Affluent Customer,N,Yes,...,NSW,Australia,8,1.04,1.3000,1.625000,1.625000,16,16,1.562500
16,Marcelia,Monkleigh,Female,61,1993-08-22,Associate Professor,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.41,0.5125,0.512500,0.435625,17,17,1.546875
17,Winnifred,Beswetherick,Female,83,1976-06-08,Actuary,Financial Services,Mass Customer,N,No,...,VIC,Australia,10,0.63,0.6300,0.787500,0.669375,17,17,1.546875
18,Odilia,Quick,Female,65,1938-11-09,General Manager,Manufacturing,Affluent Customer,N,Yes,...,NSW,Australia,11,0.54,0.6750,0.843750,0.843750,19,19,1.531250
19,Karly,Willavize,Female,2,1954-08-12,Internal Auditor,Manufacturing,High Net Worth,N,No,...,NSW,Australia,10,0.87,0.8700,1.087500,1.087500,19,19,1.531250
20,Teddie,Burchill,Male,11,1968-12-21,Programmer I,Manufacturing,Mass Customer,N,Yes,...,NSW,Australia,9,0.97,1.2125,1.515625,1.288281,21,21,1.515625
21,Gaston,Dallaghan,Male,44,1993-09-29,Financial Analyst,Financial Services,Mass Customer,N,Yes,...,NSW,Australia,7,0.92,1.1500,1.150000,0.977500,21,21,1.515625
22,Otis,Ottey,Male,26,1998-02-05,Quality Engineer,NaN,Mass Customer,N,No,...,QLD,Australia,4,0.84,0.8400,0.840000,0.714000,23,23,1.500000
23,Tabbatha,Averill,Female,5,1977-12-17,Quality Control Specialist,NaN,Affluent Customer,N,Yes,...,NSW,Australia,8,0.57,0.7125,0.712500,0.712500,23,23,1.500000
24,Brena,Schnitter,Female,78,1982-10-11,Account Executive,Manufacturing,Mass Customer,N,No,...,QLD,Australia,5,0.81,0.8100,0.810000,0.688500,25,25,1.484375
25,Rourke,Gillbard,Male,11,1945-08-03,NaN,Property,Mass Customer,N,No,...,QLD,Australia,4,0.77,0.7700,0.770000,0.654500,26,26,1.468750
26,Dyane,Burwell,Female,19,1952-06-27,Engineer II,Retail,Mass Customer,N,Yes,...,NSW,Australia,2,1.06,1.3250,1.325000,1.126250,26,26,1.468750
27,Claudine,Barstowk,Female,71,1966-07-20,Nurse,Property,High Net Worth,N,Yes,...,QLD,Australia,11,0.56,0.7000,0.875000,0.875000,26,26,1.468750
28,Blinnie,Roze,Female,84,1960-12-10,Librarian,Entertainment,High Net Worth,N,No,...,QLD,Australia,7,0.95,0.9500,1.187500,1.187500,26,26,1.468750
29,Rhona,De Freyne,Female,45,1960-11-22,NaN,Health,High Net Worth,N,No,...,VIC,Australia,10,0.95,0.9500,1.187500,1.187500,30,30,1.460938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,Mavra,Finan,Female,30,1967-08-23,Nurse,Property,Affluent Customer,N,Yes,...,NSW,Australia,9,0.57,0.7125,0.890625,0.890625,967,967,0.435625
971,Frieda,Tavinor,Female,43,1999-03-04,NaN,NaN,Affluent Customer,N,No,...,VIC,Australia,6,0.48,0.4800,0.480000,0.480000,972,972,0.430000
972,Ellwood,Budden,Male,82,1998-06-03,NaN,Health,Mass Customer,N,Yes,...,NSW,Australia,10,0.67,0.8375,1.046875,0.889844,972,972,0.430000
973,Alex,Patshull,Female,37,1966-01-02,Senior Quality Engineer,Retail,Mass Customer,N,Yes,...,QLD,Australia,5,0.55,0.6875,0.687500,0.584375,974,974,0.425000
974,Aundrea,Outridge,Female,77,2001-01-24,Structural Engineer,Financial Services,Affluent Customer,N,Yes,...,VIC,Australia,12,0.57,0.7125,0.890625,0.890625,974,974,0.425000
975,Amby,Bodega,Male,63,1968-06-12,Recruiter,NaN,Affluent Customer,N,Yes,...,VIC,Australia,6,0.43,0.5375,0.537500,0.537500,974,974,0.425000
976,Esme,Pilipets,Male,15,1967-05-06,Environmental Tech,Health,Mass Customer,N,Yes,...,VIC,Australia,9,0.50,0.6250,0.781250,0.664062,977,977,0.420000
977,Beverly,Domnick,Female,56,1938-12-10,Structural Analysis Engineer,IT,Mass Customer,N,No,...,NSW,Australia,10,0.73,0.7300,0.912500,0.775625,977,977,0.420000
978,Artemis,Swanson,Male,77,1977-02-12,Web Designer II,Argiculture,Mass Customer,N,Yes,...,VIC,Australia,5,1.00,1.2500,1.250000,1.062500,979,979,0.416500
979,Daryle,Marginson,Male,93,1986-06-27,Environmental Tech,Argiculture,Mass Customer,N,Yes,...,NSW,Australia,12,0.71,0.8875,1.109375,0.942969,979,979,0.416500
980,Tyne,Anshell,Female,71,1992-04-08,Mechanical Systems Engineer,NaN,Mass Customer,N,Yes,...,NSW,Australia,8,0.98,1.2250,1.225000,1.041250,979,979,0.416500
981,Leona,Shorrock,Female,83,1951-08-23,Senior Quality Engineer,Financial Services,Affluent Customer,N,Yes,...,QLD,Australia,1,0.76,0.9500,1.187500,1.187500,979,979,0.416500
982,Bertrando,Carass,Male,45,1956-06-25,Sales Associate,Property,Mass Customer,N,No,...,NSW,Australia,5,0.62,0.6200,0.620000,0.527000,983,983,0.410000
983,Augusta,Munns,Female,5,1951-09-17,Quality Control Specialist,NaN,Mass Customer,N,No,...,NSW,Australia,11,0.92,0.9200,1.150000,0.977500,983,983,0.410000
984,Pauline,Dallosso,U,82,NaT,Desktop Support Technician,IT,Affluent Customer,N,Yes,...,NSW,Australia,10,0.56,0.7000,0.875000,0.875000,985,985,0.408000
985,Lauralee,Fudge,Female,83,1987-09-21,Research Nurse,Health,Mass Customer,N,No,...,VIC,Australia,4,0.57,0.5700,0.712500,0.605625,985,985,0.408000
986,Consalve,Ballay,Male,41,1959-09-18,Web Developer I,IT,Mass Customer,N,Yes,...,NSW,Australia,8,0.64,0.8000,0.800000,0.680000,987,987,0.400000
987,Lolly,Prewer,Female,44,1997-10-23,Geologist I,Health,Mass Customer,N,No,...,NSW,Australia,7,0.88,0.8800,0.880000,0.748000,988,988,0.399500
988,Vyky,Pegg,Female,64,1943-03-15,Quality Control Specialist,Manufacturing,Mass Customer,N,Yes,...,NSW,Australia,7,0.63,0.7875,0.787500,0.669375,988,988,0.399500
989,Kellen,Pawelski,Female,83,1945-07-26,NaN,Manufacturing,High Net Worth,N,Yes,...,NSW,Australia,8,0.85,1.0625,1.328125,1.328125,988,988,0.399500
990,Jermaine,Bagshawe,Female,60,1954-05-14,Help Desk Operator,Property,Mass Customer,N,Yes,...,QLD,Australia,6,0.61,0.7625,0.762500,0.648125,988,988,0.399500
991,Bryan,Jachtym,Male,59,1974-05-15,Automation Specialist I,Manufacturing,Mass Customer,N,Yes,...,VIC,Australia,3,0.80,1.0000,1.000000,0.850000,988,988,0.399500
992,Renie,Laundon,Female,32,1973-12-18,Assistant Media Planner,Entertainment,Mass Customer,N,Yes,...,QLD,Australia,3,0.76,0.9500,0.950000,0.807500,993,993,0.391000
993,Weidar,Etheridge,Male,38,1959-07-13,Compensation Analyst,Financial Services,Mass Customer,N,Yes,...,NSW,Australia,4,0.48,0.6000,0.600000,0.510000,994,994,0.382500
994,Datha,Fishburn,Female,15,1990-07-02,Office Assistant IV,Retail,Mass Customer,N,No,...,VIC,Australia,12,0.88,0.8800,1.100000,0.935000,994,994,0.382500
995,Ferdinand,Romanetti,Male,60,1959-10-07,Paralegal,Financial Services,Affluent Customer,N,No,...,NSW,Australia,7,0.73,0.7300,0.730000,0.730000,996,996,0.374000
996,Burk,Wortley,Male,22,2001-10-17,Senior Sales Associate,Health,Mass Customer,N,No,...,NSW,Australia,10,0.52,0.5200,0.650000,0.552500,997,997,0.357000
997,Melloney,Temby,Female,17,1954-10-05,Budget/Accounting Analyst IV,Financial Services,Affluent Customer,N,Yes,...,QLD,Australia,2,1.10,1.3750,1.375000,1.375000,997,997,0.357000
998,Dickie,Cubbini,Male,30,1952-12-17,Financial Advisor,Financial Services,Mass Customer,N,Yes,...,QLD,Australia,2,1.07,1.3375,1.337500,1.136875,997,997,0.357000
999,Sylas,Duffill,Male,56,1955-10-02,Staff Accountant IV,Property,Mass Customer,N,Yes,...,NSW,Australia,9,0.44,0.5500,0.687500,0.584375,1000,1000,0.340000

In [4]:
cus_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
first_name                             1000 non-null object
last_name                              971 non-null object
gender                                 1000 non-null object
past_3_years_bike_related_purchases    1000 non-null int64
DOB                                    983 non-null datetime64[ns]
job_title                              894 non-null object
job_industry_category                  835 non-null object
wealth_segment                         1000 non-null object
deceased_indicator                     1000 non-null object
owns_car                               1000 non-null object
tenure                                 1000 non-null int64
address                                1000 non-null object
postcode                               1000 non-null int64
state                                  1000 non-null object
country                                1000 non-null object
property_valuation                     1000 non-null int64
Unnamed: 16                            1000 non-null float64
Unnamed: 17                            1000 non-null float64
Unnamed: 18                            1000 non-null float64
Unnamed: 19                            1000 non-null float64
Unnamed: 20                            1000 non-null int64
Rank                                   1000 non-null int64
Value                                  1000 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB

# Quality 
## newcustomer list 
1) U in gender, gender and post code are not catergorical data 

2) missing data on last name, DOB, job_tittle,job_industry  

3) redudant 16-20 columns

4) property values are not consitent with integer and float

## demographic and address data 
1) U,M,F in gender 

2) missing data on last name, DOB, job_tittle,job_industry  

3) 1843 in DOB

4) default value data have no meaning  contents

5) inconsitent with state

**1)After looking though data , there are U as Unknown in gender, gender should be changed to catergorical data**

In [5]:
cus_list1=cus_list.copy()

In [6]:
# change gender to catergorical type 
cus_list1.gender.astype('category')
# change postcode to catergorical type
cus_list1.postcode.astype('category')

0      4500
1      2113
2      3505
3      4814
4      2093
5      4075
6      2620
7      4814
8      2200
9      4151
10     4573
11     3216
12     2032
13     2232
14     4053
15     2500
16     4051
17     3040
18     2222
19     2190
20     2161
21     2783
22     4744
23     2257
24     4703
25     4817
26     2640
27     4000
28     4171
29     3056
       ...
970    2034
971    3064
972    2192
973    4165
974    3186
975    3810
976    3228
977    2232
978    3810
979    2121
980    2560
981    4720
982    2565
983    2074
984    2050
985    3277
986    2250
987    2620
988    2322
989    2193
990    4209
991    3356
992    4118
993    2422
994    3079
995    2200
996    2196
997    4702
998    4215
999    2010
Name: postcode, Length: 1000, dtype: category
Categories (522, int64): [2000, 2007, 2009, 2010, ..., 4817, 4818, 4852, 4879]

In [7]:
cus_list1.gender.replace({'U':'Unknown'},inplace=True)

**2)replace " " and "n/a" in each columns with NA**

In [8]:
cols=['DOB','job_title','job_industry_category','wealth_segment']
def replace_columns(row):
    for col in cols: 
        if row[col]=="n/a ":
            row[col]=="NA"
        return row 
cus_list1.apply(replace_columns,axis=1)

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.53,0.6625,0.828125,0.703906,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.51,0.5100,0.637500,0.541875,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,0.84,0.8400,0.840000,0.840000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.51,0.6375,0.637500,0.637500,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.66,0.6600,0.825000,0.825000,4,4,1.703125
5,Druci,Brandli,Female,39,1951-04-29,Assistant Media Planner,Entertainment,High Net Worth,N,Yes,...,QLD,Australia,7,1.01,1.2625,1.262500,1.262500,6,6,1.671875
6,Rutledge,Hallt,Male,23,1976-10-06,Compensation Analyst,Financial Services,Mass Customer,N,No,...,NSW,Australia,7,0.40,0.4000,0.400000,0.340000,6,6,1.671875
7,Nancie,Vian,Female,74,1972-12-27,Human Resources Assistant II,Retail,Mass Customer,N,Yes,...,QLD,Australia,5,0.73,0.9125,0.912500,0.775625,8,8,1.656250
8,Duff,Karlowicz,Male,50,1972-04-28,Speech Pathologist,Manufacturing,Mass Customer,N,Yes,...,NSW,Australia,10,1.01,1.2625,1.578125,1.341406,8,8,1.656250
9,Barthel,Docket,Male,72,1985-08-02,Accounting Assistant IV,IT,Mass Customer,N,Yes,...,QLD,Australia,5,0.96,1.2000,1.200000,1.020000,10,10,1.640625
10,Rockwell,Matson,Male,94,1995-01-01,Programmer Analyst I,Retail,High Net Worth,N,No,...,QLD,Australia,6,0.54,0.5400,0.675000,0.675000,10,10,1.640625
11,Wheeler,Winward,Male,48,1999-08-30,Environmental Specialist,Manufacturing,Mass Customer,N,No,...,VIC,Australia,8,0.91,0.9100,0.910000,0.773500,12,12,1.625000
12,Olag,NaN,Male,60,1990-05-13,Human Resources Manager,Telecommunications,Mass Customer,N,No,...,NSW,Australia,11,0.73,0.7300,0.912500,0.775625,13,13,1.609375
13,Melba,Spellacy,Female,38,1976-12-09,VP Marketing,Health,Mass Customer,N,No,...,NSW,Australia,10,0.88,0.8800,1.100000,0.935000,14,14,1.593750
14,Mandie,Feares,Female,32,1964-04-19,Clinical Specialist,Health,Mass Customer,N,No,...,QLD,Australia,8,0.74,0.7400,0.740000,0.629000,14,14,1.593750
15,Dukie,Swire,Male,88,1954-03-31,NaN,Manufacturing,Affluent Customer,N,Yes,...,NSW,Australia,8,1.04,1.3000,1.625000,1.625000,16,16,1.562500
16,Marcelia,Monkleigh,Female,61,1993-08-22,Associate Professor,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.41,0.5125,0.512500,0.435625,17,17,1.546875
17,Winnifred,Beswetherick,Female,83,1976-06-08,Actuary,Financial Services,Mass Customer,N,No,...,VIC,Australia,10,0.63,0.6300,0.787500,0.669375,17,17,1.546875
18,Odilia,Quick,Female,65,1938-11-09,General Manager,Manufacturing,Affluent Customer,N,Yes,...,NSW,Australia,11,0.54,0.6750,0.843750,0.843750,19,19,1.531250
19,Karly,Willavize,Female,2,1954-08-12,Internal Auditor,Manufacturing,High Net Worth,N,No,...,NSW,Australia,10,0.87,0.8700,1.087500,1.087500,19,19,1.531250
20,Teddie,Burchill,Male,11,1968-12-21,Programmer I,Manufacturing,Mass Customer,N,Yes,...,NSW,Australia,9,0.97,1.2125,1.515625,1.288281,21,21,1.515625
21,Gaston,Dallaghan,Male,44,1993-09-29,Financial Analyst,Financial Services,Mass Customer,N,Yes,...,NSW,Australia,7,0.92,1.1500,1.150000,0.977500,21,21,1.515625
22,Otis,Ottey,Male,26,1998-02-05,Quality Engineer,NaN,Mass Customer,N,No,...,QLD,Australia,4,0.84,0.8400,0.840000,0.714000,23,23,1.500000
23,Tabbatha,Averill,Female,5,1977-12-17,Quality Control Specialist,NaN,Affluent Customer,N,Yes,...,NSW,Australia,8,0.57,0.7125,0.712500,0.712500,23,23,1.500000
24,Brena,Schnitter,Female,78,1982-10-11,Account Executive,Manufacturing,Mass Customer,N,No,...,QLD,Australia,5,0.81,0.8100,0.810000,0.688500,25,25,1.484375
25,Rourke,Gillbard,Male,11,1945-08-03,NaN,Property,Mass Customer,N,No,...,QLD,Australia,4,0.77,0.7700,0.770000,0.654500,26,26,1.468750
26,Dyane,Burwell,Female,19,1952-06-27,Engineer II,Retail,Mass Customer,N,Yes,...,NSW,Australia,2,1.06,1.3250,1.325000,1.126250,26,26,1.468750
27,Claudine,Barstowk,Female,71,1966-07-20,Nurse,Property,High Net Worth,N,Yes,...,QLD,Australia,11,0.56,0.7000,0.875000,0.875000,26,26,1.468750
28,Blinnie,Roze,Female,84,1960-12-10,Librarian,Entertainment,High Net Worth,N,No,...,QLD,Australia,7,0.95,0.9500,1.187500,1.187500,26,26,1.468750
29,Rhona,De Freyne,Female,45,1960-11-22,NaN,Health,High Net Worth,N,No,...,VIC,Australia,10,0.95,0.9500,1.187500,1.187500,30,30,1.460938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,Mavra,Finan,Female,30,1967-08-23,Nurse,Property,Affluent Customer,N,Yes,...,NSW,Australia,9,0.57,0.7125,0.890625,0.890625,967,967,0.435625
971,Frieda,Tavinor,Female,43,1999-03-04,NaN,NaN,Affluent Customer,N,No,...,VIC,Australia,6,0.48,0.4800,0.480000,0.480000,972,972,0.430000
972,Ellwood,Budden,Male,82,1998-06-03,NaN,Health,Mass Customer,N,Yes,...,NSW,Australia,10,0.67,0.8375,1.046875,0.889844,972,972,0.430000
973,Alex,Patshull,Female,37,1966-01-02,Senior Quality Engineer,Retail,Mass Customer,N,Yes,...,QLD,Australia,5,0.55,0.6875,0.687500,0.584375,974,974,0.425000
974,Aundrea,Outridge,Female,77,2001-01-24,Structural Engineer,Financial Services,Affluent Customer,N,Yes,...,VIC,Australia,12,0.57,0.7125,0.890625,0.890625,974,974,0.425000
975,Amby,Bodega,Male,63,1968-06-12,Recruiter,NaN,Affluent Customer,N,Yes,...,VIC,Australia,6,0.43,0.5375,0.537500,0.537500,974,974,0.425000
976,Esme,Pilipets,Male,15,1967-05-06,Environmental Tech,Health,Mass Customer,N,Yes,...,VIC,Australia,9,0.50,0.6250,0.781250,0.664062,977,977,0.420000
977,Beverly,Domnick,Female,56,1938-12-10,Structural Analysis Engineer,IT,Mass Customer,N,No,...,NSW,Australia,10,0.73,0.7300,0.912500,0.775625,977,977,0.420000
978,Artemis,Swanson,Male,77,1977-02-12,Web Designer II,Argiculture,Mass Customer,N,Yes,...,VIC,Australia,5,1.00,1.2500,1.250000,1.062500,979,979,0.416500
979,Daryle,Marginson,Male,93,1986-06-27,Environmental Tech,Argiculture,Mass Customer,N,Yes,...,NSW,Australia,12,0.71,0.8875,1.109375,0.942969,979,979,0.416500
980,Tyne,Anshell,Female,71,1992-04-08,Mechanical Systems Engineer,NaN,Mass Customer,N,Yes,...,NSW,Australia,8,0.98,1.2250,1.225000,1.041250,979,979,0.416500
981,Leona,Shorrock,Female,83,1951-08-23,Senior Quality Engineer,Financial Services,Affluent Customer,N,Yes,...,QLD,Australia,1,0.76,0.9500,1.187500,1.187500,979,979,0.416500
982,Bertrando,Carass,Male,45,1956-06-25,Sales Associate,Property,Mass Customer,N,No,...,NSW,Australia,5,0.62,0.6200,0.620000,0.527000,983,983,0.410000
983,Augusta,Munns,Female,5,1951-09-17,Quality Control Specialist,NaN,Mass Customer,N,No,...,NSW,Australia,11,0.92,0.9200,1.150000,0.977500,983,983,0.410000
984,Pauline,Dallosso,Unknown,82,NaT,Desktop Support Technician,IT,Affluent Customer,N,Yes,...,NSW,Australia,10,0.56,0.7000,0.875000,0.875000,985,985,0.408000
985,Lauralee,Fudge,Female,83,1987-09-21,Research Nurse,Health,Mass Customer,N,No,...,VIC,Australia,4,0.57,0.5700,0.712500,0.605625,985,985,0.408000
986,Consalve,Ballay,Male,41,1959-09-18,Web Developer I,IT,Mass Customer,N,Yes,...,NSW,Australia,8,0.64,0.8000,0.800000,0.680000,987,987,0.400000
987,Lolly,Prewer,Female,44,1997-10-23,Geologist I,Health,Mass Customer,N,No,...,NSW,Australia,7,0.88,0.8800,0.880000,0.748000,988,988,0.399500
988,Vyky,Pegg,Female,64,1943-03-15,Quality Control Specialist,Manufacturing,Mass Customer,N,Yes,...,NSW,Australia,7,0.63,0.7875,0.787500,0.669375,988,988,0.399500
989,Kellen,Pawelski,Female,83,1945-07-26,NaN,Manufacturing,High Net Worth,N,Yes,...,NSW,Australia,8,0.85,1.0625,1.328125,1.328125,988,988,0.399500
990,Jermaine,Bagshawe,Female,60,1954-05-14,Help Desk Operator,Property,Mass Customer,N,Yes,...,QLD,Australia,6,0.61,0.7625,0.762500,0.648125,988,988,0.399500
991,Bryan,Jachtym,Male,59,1974-05-15,Automation Specialist I,Manufacturing,Mass Customer,N,Yes,...,VIC,Australia,3,0.80,1.0000,1.000000,0.850000,988,988,0.399500
992,Renie,Laundon,Female,32,1973-12-18,Assistant Media Planner,Entertainment,Mass Customer,N,Yes,...,QLD,Australia,3,0.76,0.9500,0.950000,0.807500,993,993,0.391000
993,Weidar,Etheridge,Male,38,1959-07-13,Compensation Analyst,Financial Services,Mass Customer,N,Yes,...,NSW,Australia,4,0.48,0.6000,0.600000,0.510000,994,994,0.382500
994,Datha,Fishburn,Female,15,1990-07-02,Office Assistant IV,Retail,Mass Customer,N,No,...,VIC,Australia,12,0.88,0.8800,1.100000,0.935000,994,994,0.382500
995,Ferdinand,Romanetti,Male,60,1959-10-07,Paralegal,Financial Services,Affluent Customer,N,No,...,NSW,Australia,7,0.73,0.7300,0.730000,0.730000,996,996,0.374000
996,Burk,Wortley,Male,22,2001-10-17,Senior Sales Associate,Health,Mass Customer,N,No,...,NSW,Australia,10,0.52,0.5200,0.650000,0.552500,997,997,0.357000
997,Melloney,Temby,Female,17,1954-10-05,Budget/Accounting Analyst IV,Financial Services,Affluent Customer,N,Yes,...,QLD,Australia,2,1.10,1.3750,1.375000,1.375000,997,997,0.357000
998,Dickie,Cubbini,Male,30,1952-12-17,Financial Advisor,Financial Services,Mass Customer,N,Yes,...,QLD,Australia,2,1.07,1.3375,1.337500,1.136875,997,997,0.357000
999,Sylas,Duffill,Male,56,1955-10-02,Staff Accountant IV,Property,Mass Customer,N,Yes,...,NSW,Australia,9,0.44,0.5500,0.687500,0.584375,1000,1000,0.340000

In [9]:
# fill non value data with NA 
cus_list1.fillna("NA",inplace=True)

**3)columns 16-20 are unamed and need to be dropped**

In [10]:
cus_list1.drop(cus_list1.iloc[:,16:21],axis=1,inplace=True)

**4) change property value to integer**

In [11]:
cus_list1

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12 00:00:00,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750
1,Morly,Genery,Male,69,1970-03-22 00:00:00,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28 00:00:00,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28 00:00:00,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21 00:00:00,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125
5,Druci,Brandli,Female,39,1951-04-29 00:00:00,Assistant Media Planner,Entertainment,High Net Worth,N,Yes,22,89105 Pearson Terrace,4075,QLD,Australia,7,6,1.671875
6,Rutledge,Hallt,Male,23,1976-10-06 00:00:00,Compensation Analyst,Financial Services,Mass Customer,N,No,8,7 Nevada Crossing,2620,NSW,Australia,7,6,1.671875
7,Nancie,Vian,Female,74,1972-12-27 00:00:00,Human Resources Assistant II,Retail,Mass Customer,N,Yes,10,85 Carioca Point,4814,QLD,Australia,5,8,1.656250
8,Duff,Karlowicz,Male,50,1972-04-28 00:00:00,Speech Pathologist,Manufacturing,Mass Customer,N,Yes,5,717 West Drive,2200,NSW,Australia,10,8,1.656250
9,Barthel,Docket,Male,72,1985-08-02 00:00:00,Accounting Assistant IV,IT,Mass Customer,N,Yes,17,80 Scofield Junction,4151,QLD,Australia,5,10,1.640625
10,Rockwell,Matson,Male,94,1995-01-01 00:00:00,Programmer Analyst I,Retail,High Net Worth,N,No,3,3682 Crowley Point,4573,QLD,Australia,6,10,1.640625
11,Wheeler,Winward,Male,48,1999-08-30 00:00:00,Environmental Specialist,Manufacturing,Mass Customer,N,No,10,3 Golden Leaf Point,3216,VIC,Australia,8,12,1.625000
12,Olag,NA,Male,60,1990-05-13 00:00:00,Human Resources Manager,Telecommunications,Mass Customer,N,No,9,0484 North Avenue,2032,NSW,Australia,11,13,1.609375
13,Melba,Spellacy,Female,38,1976-12-09 00:00:00,VP Marketing,Health,Mass Customer,N,No,4,0591 Anzinger Circle,2232,NSW,Australia,10,14,1.593750
14,Mandie,Feares,Female,32,1964-04-19 00:00:00,Clinical Specialist,Health,Mass Customer,N,No,10,39 Kedzie Pass,4053,QLD,Australia,8,14,1.593750
15,Dukie,Swire,Male,88,1954-03-31 00:00:00,NA,Manufacturing,Affluent Customer,N,Yes,5,64 Granby Parkway,2500,NSW,Australia,8,16,1.562500
16,Marcelia,Monkleigh,Female,61,1993-08-22 00:00:00,Associate Professor,Manufacturing,Mass Customer,N,Yes,4,610 Swallow Street,4051,QLD,Australia,6,17,1.546875
17,Winnifred,Beswetherick,Female,83,1976-06-08 00:00:00,Actuary,Financial Services,Mass Customer,N,No,14,61 4th Street,3040,VIC,Australia,10,17,1.546875
18,Odilia,Quick,Female,65,1938-11-09 00:00:00,General Manager,Manufacturing,Affluent Customer,N,Yes,11,1550 Russell Way,2222,NSW,Australia,11,19,1.531250
19,Karly,Willavize,Female,2,1954-08-12 00:00:00,Internal Auditor,Manufacturing,High Net Worth,N,No,12,193 North Point,2190,NSW,Australia,10,19,1.531250
20,Teddie,Burchill,Male,11,1968-12-21 00:00:00,Programmer I,Manufacturing,Mass Customer,N,Yes,13,321 Raven Plaza,2161,NSW,Australia,9,21,1.515625
21,Gaston,Dallaghan,Male,44,1993-09-29 00:00:00,Financial Analyst,Financial Services,Mass Customer,N,Yes,8,656 Fuller Street,2783,NSW,Australia,7,21,1.515625
22,Otis,Ottey,Male,26,1998-02-05 00:00:00,Quality Engineer,NA,Mass Customer,N,No,3,1562 Merchant Street,4744,QLD,Australia,4,23,1.500000
23,Tabbatha,Averill,Female,5,1977-12-17 00:00:00,Quality Control Specialist,NA,Affluent Customer,N,Yes,13,663 8th Parkway,2257,NSW,Australia,8,23,1.500000
24,Brena,Schnitter,Female,78,1982-10-11 00:00:00,Account Executive,Manufacturing,Mass Customer,N,No,4,67 Shelley Street,4703,QLD,Australia,5,25,1.484375
25,Rourke,Gillbard,Male,11,1945-08-03 00:00:00,NA,Property,Mass Customer,N,No,17,75 Cordelia Trail,4817,QLD,Australia,4,26,1.468750
26,Dyane,Burwell,Female,19,1952-06-27 00:00:00,Engineer II,Retail,Mass Customer,N,Yes,7,51 Hooker Court,2640,NSW,Australia,2,26,1.468750
27,Claudine,Barstowk,Female,71,1966-07-20 00:00:00,Nurse,Property,High Net Worth,N,Yes,5,1859 Forest Circle,4000,QLD,Australia,11,26,1.468750
28,Blinnie,Roze,Female,84,1960-12-10 00:00:00,Librarian,Entertainment,High Net Worth,N,No,11,44557 Rutledge Court,4171,QLD,Australia,7,26,1.468750
29,Rhona,De Freyne,Female,45,1960-11-22 00:00:00,NA,Health,High Net Worth,N,No,8,11184 East Drive,3056,VIC,Australia,10,30,1.460938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,Mavra,Finan,Female,30,1967-08-23 00:00:00,Nurse,Property,Affluent Customer,N,Yes,4,88 Shopko Way,2034,NSW,Australia,9,967,0.435625
971,Frieda,Tavinor,Female,43,1999-03-04 00:00:00,NA,NA,Affluent Customer,N,No,10,7 Mallory Lane,3064,VIC,Australia,6,972,0.430000
972,Ellwood,Budden,Male,82,1998-06-03 00:00:00,NA,Health,Mass Customer,N,Yes,11,79907 Randy Center,2192,NSW,Australia,10,972,0.430000
973,Alex,Patshull,Female,37,1966-01-02 00:00:00,Senior Quality Engineer,Retail,Mass Customer,N,Yes,13,446 High Crossing Way,4165,QLD,Australia,5,974,0.425000
974,Aundrea,Outridge,Female,77,2001-01-24 00:00:00,Structural Engineer,Financial Services,Affluent Customer,N,Yes,10,1530 Columbus Lane,3186,VIC,Australia,12,974,0.425000
975,Amby,Bodega,Male,63,1968-06-12 00:00:00,Recruiter,NA,Affluent Customer,N,Yes,17,669 Declaration Street,3810,VIC,Australia,6,974,0.425000
976,Esme,Pilipets,Male,15,1967-05-06 00:00:00,Environmental Tech,Health,Mass Customer,N,Yes,5,9 Ruskin Way,3228,VIC,Australia,9,977,0.420000
977,Beverly,Domnick,Female,56,1938-12-10 00:00:00,Structural Analysis Engineer,IT,Mass Customer,N,No,9,8 Burning Wood Junction,2232,NSW,Australia,10,977,0.420000
978,Artemis,Swanson,Male,77,1977-02-12 00:00:00,Web Designer II,Argiculture,Mass Customer,N,Yes,13,5 Melvin Park,3810,VIC,Australia,5,979,0.416500
979,Daryle,Marginson,Male,93,1986-06-27 00:00:00,Environmental Tech,Argiculture,Mass Customer,N,Yes,9,21316 Ohio Place,2121,NSW,Australia,12,979,0.416500
980,Tyne,Anshell,Female,71,1992-04-08 00:00:00,Mechanical Systems Engineer,NA,Mass Customer,N,Yes,3,93 Sutherland Terrace,2560,NSW,Australia,8,979,0.416500
981,Leona,Shorrock,Female,83,1951-08-23 00:00:00,Senior Quality Engineer,Financial Services,Affluent Customer,N,Yes,22,1560 Grim Avenue,4720,QLD,Australia,1,979,0.416500
982,Bertrando,Carass,Male,45,1956-06-25 00:00:00,Sales Associate,Property,Mass Customer,N,No,8,1 Quincy Road,2565,NSW,Australia,5,983,0.410000
983,Augusta,Munns,Female,5,1951-09-17 00:00:00,Quality Control Specialist,NA,Mass Customer,N,No,21,607 Memorial Avenue,2074,NSW,Australia,11,983,0.410000
984,Pauline,Dallosso,Unknown,82,NA,Desktop Support Technician,IT,Affluent Customer,N,Yes,0,9594 Badeau Street,2050,NSW,Australia,10,985,0.408000
985,Lauralee,Fudge,Female,83,1987-09-21 00:00:00,Research Nurse,Health,Mass Customer,N,No,15,9460 Monument Park,3277,VIC,Australia,4,985,0.408000
986,Consalve,Ballay,Male,41,1959-09-18 00:00:00,Web Developer I,IT,Mass Customer,N,Yes,7,72 Village Terrace,2250,NSW,Australia,8,987,0.400000
987,Lolly,Prewer,Female,44,1997-10-23 00:00:00,Geologist I,Health,Mass Customer,N,No,15,694 Coolidge Center,2620,NSW,Australia,7,988,0.399500
988,Vyky,Pegg,Female,64,1943-03-15 00:00:00,Quality Control Specialist,Manufacturing,Mass Customer,N,Yes,11,31854 Anniversary Terrace,2322,NSW,Australia,7,988,0.399500
989,Kellen,Pawelski,Female,83,1945-07-26 00:00:00,NA,Manufacturing,High Net Worth,N,Yes,11,125 Manufacturers Parkway,2193,NSW,Australia,8,988,0.399500
990,Jermaine,Bagshawe,Female,60,1954-05-14 00:00:00,Help Desk Operator,Property,Mass Customer,N,Yes,9,260 Briar Crest Drive,4209,QLD,Australia,6,988,0.399500
991,Bryan,Jachtym,Male,59,1974-05-15 00:00:00,Automation Specialist I,Manufacturing,Mass Customer,N,Yes,15,56 Moland Crossing,3356,VIC,Australia,3,988,0.399500
992,Renie,Laundon,Female,32,1973-12-18 00:00:00,Assistant Media Planner,Entertainment,Mass Customer,N,Yes,8,1 Shelley Pass,4118,QLD,Australia,3,993,0.391000
993,Weidar,Etheridge,Male,38,1959-07-13 00:00:00,Compensation Analyst,Financial Services,Mass Customer,N,Yes,6,0535 Jay Point,2422,NSW,Australia,4,994,0.382500
994,Datha,Fishburn,Female,15,1990-07-02 00:00:00,Office Assistant IV,Retail,Mass Customer,N,No,3,6 Caliangt Way,3079,VIC,Australia,12,994,0.382500
995,Ferdinand,Romanetti,Male,60,1959-10-07 00:00:00,Paralegal,Financial Services,Affluent Customer,N,No,9,2 Sloan Way,2200,NSW,Australia,7,996,0.374000
996,Burk,Wortley,Male,22,2001-10-17 00:00:00,Senior Sales Associate,Health,Mass Customer,N,No,6,04 Union Crossing,2196,NSW,Australia,10,997,0.357000
997,Melloney,Temby,Female,17,1954-10-05 00:00:00,Budget/Accounting Analyst IV,Financial Services,Affluent Customer,N,Yes,15,33475 Fair Oaks Junction,4702,QLD,Australia,2,997,0.357000
998,Dickie,Cubbini,Male,30,1952-12-17 00:00:00,Financial Advisor,Financial Services,Mass Customer,N,Yes,19,57666 Victoria Way,4215,QLD,Australia,2,997,0.357000
999,Sylas,Duffill,Male,56,1955-10-02 00:00:00,Staff Accountant IV,Property,Mass Customer,N,Yes,14,21875 Grover Drive,2010,NSW,Australia,9,1000,0.340000

In [12]:
cus_list1.property_valuation.astype("int")

0       6
1      11
2       5
3       1
4       9
5       7
6       7
7       5
8      10
9       5
10      6
11      8
12     11
13     10
14      8
15      8
16      6
17     10
18     11
19     10
20      9
21      7
22      4
23      8
24      5
25      4
26      2
27     11
28      7
29     10
       ..
970     9
971     6
972    10
973     5
974    12
975     6
976     9
977    10
978     5
979    12
980     8
981     1
982     5
983    11
984    10
985     4
986     8
987     7
988     7
989     8
990     6
991     3
992     3
993     4
994    12
995     7
996    10
997     2
998     2
999     9
Name: property_valuation, Length: 1000, dtype: int32

In [13]:
cus_list1.property_valuation.unique()

array([ 6, 11,  5,  1,  9,  7, 10,  8,  4,  2, 12,  3], dtype=int64)

## Test

**test if the data still contain null values, all have 1000 non null value**

In [14]:
cus_list1[cus_list1["job_title"]=="n/a"]

Empty DataFrame
Columns: [first_name, last_name, gender, past_3_years_bike_related_purchases, DOB, job_title, job_industry_category, wealth_segment, deceased_indicator, owns_car, tenure, address, postcode, state, country, property_valuation, Rank, Value]
Index: []

In [15]:
cus_list1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
first_name                             1000 non-null object
last_name                              1000 non-null object
gender                                 1000 non-null object
past_3_years_bike_related_purchases    1000 non-null int64
DOB                                    1000 non-null object
job_title                              1000 non-null object
job_industry_category                  1000 non-null object
wealth_segment                         1000 non-null object
deceased_indicator                     1000 non-null object
owns_car                               1000 non-null object
tenure                                 1000 non-null int64
address                                1000 non-null object
postcode                               1000 non-null int64
state                                  1000 non-null object
country                                1000 non-null object
property_valuation                     1000 non-null int64
Rank                                   1000 non-null int64
Value                                  1000 non-null float64
dtypes: float64(1), int64(5), object(12)
memory usage: 140.7+ KB

In [16]:
# check duplicates
#check duplicates 
cus_list1.duplicated().sum()

0

# Analyze customer demographic data and customer address

In [17]:
cus_demographic1=cus_demographic.copy()

In [18]:
cus_address1= cus_address.copy()

**Join 2 cusotmer demographic data with customer address data**

In [19]:
cus_info=cus_demographic1.merge(cus_address1 ,on="customer_id")
cus_info

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure,address,postcode,state,country,property_valuation
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0,0 Holy Cross Court,4211,QLD,Australia,9
3,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,Curr,Duckhouse,Male,35,1966-09-16,NaN,Retail,High Net Worth,N,,Yes,13.0,9 Oakridge Court,3216,VIC,Australia,9
5,7,Fina,Merali,Female,6,1976-02-23,NaN,Financial Services,Affluent Customer,N,,Yes,11.0,4 Delaware Trail,2210,New South Wales,Australia,9
6,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,NaN,Mass Customer,N,( ),No,7.0,49 Londonderry Lane,2650,New South Wales,Australia,4
7,9,Mala,Lind,Female,97,1973-03-10,Business Systems Development Analyst,Argiculture,Affluent Customer,N,0/0,Yes,8.0,97736 7th Trail,2023,New South Wales,Australia,12
8,11,Uriah,Bisatt,Male,99,1954-04-30,NaN,Property,Mass Customer,N,,No,9.0,93405 Ludington Park,3044,VIC,Australia,8
9,12,Sawyere,Flattman,Male,58,1994-07-21,Nuclear Power Engineer,Manufacturing,Mass Customer,N,nil,No,8.0,44339 Golden Leaf Alley,4557,QLD,Australia,4
10,13,Gabriele,Norcross,Male,38,1955-02-15,Developer I,Financial Services,High Net Worth,N,-100,Yes,8.0,2 Sutherland Street,3799,VIC,Australia,6
11,14,Rayshell,Kitteman,Female,85,1983-03-25,Account Executive,Financial Services,Affluent Customer,N,,No,6.0,9 Mcbride Trail,2760,New South Wales,Australia,8
12,15,Erroll,Radage,Male,91,2000-07-13,Junior Executive,Manufacturing,Mass Customer,N,,No,1.0,9861 New Castle Avenue,2428,New South Wales,Australia,9
13,16,Harlin,Parr,Male,38,1977-02-27,Media Manager IV,NaN,Mass Customer,N,1000000000000000049861653971908893017010268485...,Yes,18.0,52 Moland Street,3331,VIC,Australia,4
14,17,Heath,Faraday,Male,57,1962-03-19,Sales Associate,NaN,Affluent Customer,N,(),Yes,15.0,82391 Kensington Lane,3058,VIC,Australia,9
15,18,Marjie,Neasham,Female,79,1967-07-06,Professor,NaN,Affluent Customer,N,,No,11.0,092 2nd Alley,2135,New South Wales,Australia,12
16,19,Sorcha,Keyson,Female,76,2001-04-15,Geological Engineer,Manufacturing,High Net Worth,N,,No,1.0,59 Spaight Circle,2233,New South Wales,Australia,9
17,20,Basile,Firth,Male,72,1980-08-13,Project Manager,Manufacturing,Mass Customer,N,,No,11.0,032 Bartelt Crossing,2444,New South Wales,Australia,8
18,21,Mile,Cammocke,Male,74,1980-09-20,Safety Technician I,Manufacturing,Affluent Customer,N,-100,Yes,16.0,18 Jenna Center,2650,New South Wales,Australia,7
19,24,Kim,Skpsey,Female,55,1977-12-03,Research Assistant I,Argiculture,Mass Customer,N,../../../../../../../../../../../etc/hosts,Yes,15.0,3 Cordelia Plaza,2153,New South Wales,Australia,10
20,25,Geoff,Assaf,Male,72,1976-12-02,Accounting Assistant III,Financial Services,Mass Customer,N,test,Yes,21.0,28 5th Center,4413,QLD,Australia,3
21,26,Trixi,Ginnelly,Female,12,1978-06-10,Editor,Financial Services,Mass Customer,N,"<>?:""{}|_+",Yes,16.0,52 Carey Alley,4740,QLD,Australia,5
22,27,Garvin,Klees,Male,37,1978-09-25,Research Nurse,Health,Mass Customer,N,"''''""",Yes,12.0,96 Texas Plaza,3218,VIC,Australia,7
23,28,Fee,Zellmer,Male,5,1973-09-30,Senior Quality Engineer,Health,Affluent Customer,N,",./;'[]\-=",Yes,21.0,48 Eagan Avenue,4868,QLD,Australia,4
24,29,Mona,Sancraft,Female,62,1968-06-22,Safety Technician III,Manufacturing,Mass Customer,N,() { 0; }; touch /tmp/blns.shellshock1.fail;,No,19.0,9 Buell Park,4116,QLD,Australia,7
25,30,Darrick,Helleckas,Male,18,1961-10-18,NaN,IT,Affluent Customer,N,,Yes,6.0,02663 Buell Parkway,2519,New South Wales,Australia,11
26,31,Star,Praton,Female,3,1962-11-24,Staff Accountant III,Telecommunications,High Net Worth,N,testtest,Yes,14.0,2294 Pleasure Place,2135,New South Wales,Australia,12
27,32,Marion,Vanichkin,Female,17,1995-04-20,Legal Assistant,Manufacturing,Affluent Customer,N,0 1 2 3 4 5 6 7...,No,4.0,2951 Petterle Place,2756,New South Wales,Australia,9
28,33,Ernst,Hacon,Male,44,1957-06-25,Product Engineer,NaN,Affluent Customer,N,<script>alert('hi')</script>,Yes,11.0,63 Lukken Drive,2170,New South Wales,Australia,9
29,34,Jephthah,Bachmann,U,59,1843-12-21,Legal Assistant,IT,Affluent Customer,N,NaN,No,20.0,833 Luster Way,4005,QLD,Australia,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3966,3971,Analise,Asbrey,Female,2,1979-01-14,Desktop Support Technician,Financial Services,High Net Worth,N,NaN,No,16.0,910 Becker Pass,2526,NSW,Australia,8
3967,3972,Maribelle,Schaffel,Female,6,1979-03-28,NaN,Retail,Mass Customer,N,He who ...,No,8.0,08 Dennis Crossing,3184,VIC,Australia,11
3968,3973,Carolan,Jorez,Female,24,1963-07-13,Editor,Manufacturing,High Net Worth,N,,No,17.0,4 Express Plaza,2191,NSW,Australia,10
3969,3974,Misha,Ranklin,Female,82,1961-02-11,Technical Writer,NaN,Affluent Customer,N,1,Yes,9.0,81609 Vernon Terrace,3934,VIC,Australia,8
3970,3975,Dianemarie,Kidgell,Female,2,1971-08-11,Administrative Assistant I,Entertainment,Affluent Customer,N,NIL,No,18.0,37 Hintze Court,2168,NSW,Australia,9
3971,3976,Gretel,Chrystal,Female,0,1957-11-20,Internal Auditor,NaN,Affluent Customer,N,"'""''''""",Yes,13.0,07 Morning Court,3805,VIC,Australia,7
3972,3977,Katrinka,Van der Beken,Female,31,1965-08-21,Biostatistician II,Manufacturing,Mass Customer,N,,Yes,16.0,327 Loeprich Street,3187,VIC,Australia,11
3973,3978,Kathlin,Robker,Female,4,1972-03-02,Developer II,Financial Services,Mass Customer,N,NIL,No,5.0,5106 Northridge Drive,2560,NSW,Australia,7
3974,3979,Kleon,Adam,Male,67,1974-07-13,NaN,Financial Services,Mass Customer,N,,Yes,18.0,9754 High Crossing Terrace,2148,NSW,Australia,8
3975,3980,Nils,McGebenay,Male,41,1964-01-16,Web Designer I,Manufacturing,Mass Customer,N,,No,12.0,7 Meadow Vale Court,2114,NSW,Australia,10
3976,3981,Konstance,Draye,Female,34,1994-09-10,Quality Control Specialist,Health,Mass Customer,N,nbl u olop oql n unpp...,No,1.0,80260 Morning Road,3178,VIC,Australia,9
3977,3982,Maurita,O'Kinedy,Female,89,1962-06-02,General Manager,Manufacturing,Mass Customer,N,1,Yes,12.0,38017 Briar Crest Drive,2165,NSW,Australia,9
3978,3983,Jarred,Lyste,Male,19,1965-04-21,Graphic Designer,NaN,Mass Customer,N,He who ...,Yes,9.0,60 Morningstar Center,2126,NSW,Australia,10
3979,3984,Thadeus,Buxsey,Male,74,1960-02-16,Librarian,Entertainment,Affluent Customer,N,,No,10.0,218 Stuart Junction,2223,NSW,Australia,10
3980,3985,Caryn,Padbury,Female,44,1998-06-21,Web Developer IV,Property,Mass Customer,N,0/0,No,4.0,9 Butterfield Lane,4077,QLD,Australia,5
3981,3986,Oralle,Petrello,Female,1,1976-12-01,Social Worker,Health,Mass Customer,N,NaN,No,21.0,614 Burning Wood Way,2148,NSW,Australia,9
3982,3987,Beckie,Wakeham,Female,18,1964-05-29,NaN,Argiculture,Mass Customer,N,,No,7.0,9 Grover Point,4218,QLD,Australia,10
3983,3988,Ammamaria,Ashburne,Female,97,1994-07-14,Automation Specialist IV,Health,Mass Customer,N,,Yes,1.0,565 Bunting Park,2076,NSW,Australia,11
3984,3989,Nicolas,Burdass,Male,75,1999-06-23,Environmental Specialist,Argiculture,Affluent Customer,N,,Yes,1.0,9461 Saint Paul Trail,2428,NSW,Australia,2
3985,3990,Reynard,Hagger,Male,99,1998-03-05,Desktop Support Technician,Health,High Net Worth,N,0,No,1.0,5204 Delaware Pass,2560,NSW,Australia,8
3986,3991,Rolph,Sweetnam,Male,61,1985-08-06,Chief Design Engineer,Manufacturing,Mass Customer,N,"""'",Yes,13.0,24 Scott Pass,4300,QLD,Australia,5
3987,3992,Germain,Tireman,Male,99,1980-04-02,Database Administrator IV,Manufacturing,Affluent Customer,N,", ...",Yes,18.0,8 Randy Parkway,2209,NSW,Australia,11
3988,3993,Andi,Dumelow,Female,6,1974-12-05,Librarian,Entertainment,Mass Customer,N,,No,10.0,681 Elmside Place,3750,VIC,Australia,6
3989,3994,Stephie,Byars,Female,5,1989-04-07,Structural Analysis Engineer,Manufacturing,Affluent Customer,N,-100,No,12.0,2918 Summer Ridge Hill,3030,VIC,Australia,2
3990,3995,Rusty,Iapico,Male,93,1975-12-12,Staff Scientist,Manufacturing,Mass Customer,N,,Yes,14.0,613 Erie Lane,2088,NSW,Australia,12
3991,3996,Rosalia,Halgarth,Female,8,1975-08-09,VP Product Management,Health,Mass Customer,N,-100,No,19.0,0 Transport Center,3977,VIC,Australia,6
3992,3997,Blanch,Nisuis,Female,87,2001-07-13,Statistician II,Manufacturing,High Net Worth,N,test,Yes,1.0,4 Dovetail Crossing,2350,NSW,Australia,2
3993,3998,Sarene,Woolley,U,60,NaT,Assistant Manager,IT,High Net Worth,N,NaN,No,NaN,736 Roxbury Junction,2540,NSW,Australia,6
3994,3999,Patrizius,NaN,Male,11,1973-10-24,NaN,Manufacturing,Affluent Customer,N,,Yes,10.0,1482 Hauk Trail,3064,VIC,Australia,3
3995,4000,Kippy,Oldland,Male,76,1991-11-05,Software Engineer IV,NaN,Affluent Customer,N,0/0,No,11.0,57042 Village Green Point,4511,QLD,Australia,6

**1)Replace M, F, U in `gender` to Male, Female, Unknown**

In [20]:
cus_info.gender.replace({'U':'Unknown','F':"Female","M":"Male"},inplace=True)

**2) fill na with NA**

In [21]:
# replace n/a with NA
cols=['DOB','job_title','job_industry_category','wealth_segment']
def replace_columns(row):
    for col in cols: 
        if row[col]=="n/a ":
            row[col]=="NA"
        return row 
cus_list1.apply(replace_columns,axis=1)
# fill non value data with NA 
cus_list1.fillna("NA",inplace=True)

**3) change 1843 to 1943 in `DOB`** in excel

**4)drop `default` columns**

In [22]:
cus_info.drop("default",axis=1,inplace=True)

**5) change full name of state to abbriviation**

In [23]:
cus_info.state.replace({"New South Wales":"NSW","Victoria":"VIC"},inplace=True)

In [24]:
# test
cus_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3996 entries, 0 to 3995
Data columns (total 17 columns):
customer_id                            3996 non-null int64
first_name                             3996 non-null object
last_name                              3871 non-null object
gender                                 3996 non-null object
past_3_years_bike_related_purchases    3996 non-null int64
DOB                                    3909 non-null datetime64[ns]
job_title                              3492 non-null object
job_industry_category                  3341 non-null object
wealth_segment                         3996 non-null object
deceased_indicator                     3996 non-null object
owns_car                               3996 non-null object
tenure                                 3909 non-null float64
address                                3996 non-null object
postcode                               3996 non-null int64
state                                  3996 non-null object
country                                3996 non-null object
property_valuation                     3996 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(11)
memory usage: 561.9+ KB

In [25]:
cus_info.dropna(how='all')

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,060 Morning Avenue,2016,NSW,Australia,10
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0,6 Meadow Vale Court,2153,NSW,Australia,10
2,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,No,7.0,0 Holy Cross Court,4211,QLD,Australia,9
3,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8.0,17979 Del Mar Point,2448,NSW,Australia,4
4,6,Curr,Duckhouse,Male,35,1966-09-16,NaN,Retail,High Net Worth,N,Yes,13.0,9 Oakridge Court,3216,VIC,Australia,9
5,7,Fina,Merali,Female,6,1976-02-23,NaN,Financial Services,Affluent Customer,N,Yes,11.0,4 Delaware Trail,2210,NSW,Australia,9
6,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,NaN,Mass Customer,N,No,7.0,49 Londonderry Lane,2650,NSW,Australia,4
7,9,Mala,Lind,Female,97,1973-03-10,Business Systems Development Analyst,Argiculture,Affluent Customer,N,Yes,8.0,97736 7th Trail,2023,NSW,Australia,12
8,11,Uriah,Bisatt,Male,99,1954-04-30,NaN,Property,Mass Customer,N,No,9.0,93405 Ludington Park,3044,VIC,Australia,8
9,12,Sawyere,Flattman,Male,58,1994-07-21,Nuclear Power Engineer,Manufacturing,Mass Customer,N,No,8.0,44339 Golden Leaf Alley,4557,QLD,Australia,4
10,13,Gabriele,Norcross,Male,38,1955-02-15,Developer I,Financial Services,High Net Worth,N,Yes,8.0,2 Sutherland Street,3799,VIC,Australia,6
11,14,Rayshell,Kitteman,Female,85,1983-03-25,Account Executive,Financial Services,Affluent Customer,N,No,6.0,9 Mcbride Trail,2760,NSW,Australia,8
12,15,Erroll,Radage,Male,91,2000-07-13,Junior Executive,Manufacturing,Mass Customer,N,No,1.0,9861 New Castle Avenue,2428,NSW,Australia,9
13,16,Harlin,Parr,Male,38,1977-02-27,Media Manager IV,NaN,Mass Customer,N,Yes,18.0,52 Moland Street,3331,VIC,Australia,4
14,17,Heath,Faraday,Male,57,1962-03-19,Sales Associate,NaN,Affluent Customer,N,Yes,15.0,82391 Kensington Lane,3058,VIC,Australia,9
15,18,Marjie,Neasham,Female,79,1967-07-06,Professor,NaN,Affluent Customer,N,No,11.0,092 2nd Alley,2135,NSW,Australia,12
16,19,Sorcha,Keyson,Female,76,2001-04-15,Geological Engineer,Manufacturing,High Net Worth,N,No,1.0,59 Spaight Circle,2233,NSW,Australia,9
17,20,Basile,Firth,Male,72,1980-08-13,Project Manager,Manufacturing,Mass Customer,N,No,11.0,032 Bartelt Crossing,2444,NSW,Australia,8
18,21,Mile,Cammocke,Male,74,1980-09-20,Safety Technician I,Manufacturing,Affluent Customer,N,Yes,16.0,18 Jenna Center,2650,NSW,Australia,7
19,24,Kim,Skpsey,Female,55,1977-12-03,Research Assistant I,Argiculture,Mass Customer,N,Yes,15.0,3 Cordelia Plaza,2153,NSW,Australia,10
20,25,Geoff,Assaf,Male,72,1976-12-02,Accounting Assistant III,Financial Services,Mass Customer,N,Yes,21.0,28 5th Center,4413,QLD,Australia,3
21,26,Trixi,Ginnelly,Female,12,1978-06-10,Editor,Financial Services,Mass Customer,N,Yes,16.0,52 Carey Alley,4740,QLD,Australia,5
22,27,Garvin,Klees,Male,37,1978-09-25,Research Nurse,Health,Mass Customer,N,Yes,12.0,96 Texas Plaza,3218,VIC,Australia,7
23,28,Fee,Zellmer,Male,5,1973-09-30,Senior Quality Engineer,Health,Affluent Customer,N,Yes,21.0,48 Eagan Avenue,4868,QLD,Australia,4
24,29,Mona,Sancraft,Female,62,1968-06-22,Safety Technician III,Manufacturing,Mass Customer,N,No,19.0,9 Buell Park,4116,QLD,Australia,7
25,30,Darrick,Helleckas,Male,18,1961-10-18,NaN,IT,Affluent Customer,N,Yes,6.0,02663 Buell Parkway,2519,NSW,Australia,11
26,31,Star,Praton,Female,3,1962-11-24,Staff Accountant III,Telecommunications,High Net Worth,N,Yes,14.0,2294 Pleasure Place,2135,NSW,Australia,12
27,32,Marion,Vanichkin,Female,17,1995-04-20,Legal Assistant,Manufacturing,Affluent Customer,N,No,4.0,2951 Petterle Place,2756,NSW,Australia,9
28,33,Ernst,Hacon,Male,44,1957-06-25,Product Engineer,NaN,Affluent Customer,N,Yes,11.0,63 Lukken Drive,2170,NSW,Australia,9
29,34,Jephthah,Bachmann,Unknown,59,1843-12-21,Legal Assistant,IT,Affluent Customer,N,No,20.0,833 Luster Way,4005,QLD,Australia,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3966,3971,Analise,Asbrey,Female,2,1979-01-14,Desktop Support Technician,Financial Services,High Net Worth,N,No,16.0,910 Becker Pass,2526,NSW,Australia,8
3967,3972,Maribelle,Schaffel,Female,6,1979-03-28,NaN,Retail,Mass Customer,N,No,8.0,08 Dennis Crossing,3184,VIC,Australia,11
3968,3973,Carolan,Jorez,Female,24,1963-07-13,Editor,Manufacturing,High Net Worth,N,No,17.0,4 Express Plaza,2191,NSW,Australia,10
3969,3974,Misha,Ranklin,Female,82,1961-02-11,Technical Writer,NaN,Affluent Customer,N,Yes,9.0,81609 Vernon Terrace,3934,VIC,Australia,8
3970,3975,Dianemarie,Kidgell,Female,2,1971-08-11,Administrative Assistant I,Entertainment,Affluent Customer,N,No,18.0,37 Hintze Court,2168,NSW,Australia,9
3971,3976,Gretel,Chrystal,Female,0,1957-11-20,Internal Auditor,NaN,Affluent Customer,N,Yes,13.0,07 Morning Court,3805,VIC,Australia,7
3972,3977,Katrinka,Van der Beken,Female,31,1965-08-21,Biostatistician II,Manufacturing,Mass Customer,N,Yes,16.0,327 Loeprich Street,3187,VIC,Australia,11
3973,3978,Kathlin,Robker,Female,4,1972-03-02,Developer II,Financial Services,Mass Customer,N,No,5.0,5106 Northridge Drive,2560,NSW,Australia,7
3974,3979,Kleon,Adam,Male,67,1974-07-13,NaN,Financial Services,Mass Customer,N,Yes,18.0,9754 High Crossing Terrace,2148,NSW,Australia,8
3975,3980,Nils,McGebenay,Male,41,1964-01-16,Web Designer I,Manufacturing,Mass Customer,N,No,12.0,7 Meadow Vale Court,2114,NSW,Australia,10
3976,3981,Konstance,Draye,Female,34,1994-09-10,Quality Control Specialist,Health,Mass Customer,N,No,1.0,80260 Morning Road,3178,VIC,Australia,9
3977,3982,Maurita,O'Kinedy,Female,89,1962-06-02,General Manager,Manufacturing,Mass Customer,N,Yes,12.0,38017 Briar Crest Drive,2165,NSW,Australia,9
3978,3983,Jarred,Lyste,Male,19,1965-04-21,Graphic Designer,NaN,Mass Customer,N,Yes,9.0,60 Morningstar Center,2126,NSW,Australia,10
3979,3984,Thadeus,Buxsey,Male,74,1960-02-16,Librarian,Entertainment,Affluent Customer,N,No,10.0,218 Stuart Junction,2223,NSW,Australia,10
3980,3985,Caryn,Padbury,Female,44,1998-06-21,Web Developer IV,Property,Mass Customer,N,No,4.0,9 Butterfield Lane,4077,QLD,Australia,5
3981,3986,Oralle,Petrello,Female,1,1976-12-01,Social Worker,Health,Mass Customer,N,No,21.0,614 Burning Wood Way,2148,NSW,Australia,9
3982,3987,Beckie,Wakeham,Female,18,1964-05-29,NaN,Argiculture,Mass Customer,N,No,7.0,9 Grover Point,4218,QLD,Australia,10
3983,3988,Ammamaria,Ashburne,Female,97,1994-07-14,Automation Specialist IV,Health,Mass Customer,N,Yes,1.0,565 Bunting Park,2076,NSW,Australia,11
3984,3989,Nicolas,Burdass,Male,75,1999-06-23,Environmental Specialist,Argiculture,Affluent Customer,N,Yes,1.0,9461 Saint Paul Trail,2428,NSW,Australia,2
3985,3990,Reynard,Hagger,Male,99,1998-03-05,Desktop Support Technician,Health,High Net Worth,N,No,1.0,5204 Delaware Pass,2560,NSW,Australia,8
3986,3991,Rolph,Sweetnam,Male,61,1985-08-06,Chief Design Engineer,Manufacturing,Mass Customer,N,Yes,13.0,24 Scott Pass,4300,QLD,Australia,5
3987,3992,Germain,Tireman,Male,99,1980-04-02,Database Administrator IV,Manufacturing,Affluent Customer,N,Yes,18.0,8 Randy Parkway,2209,NSW,Australia,11
3988,3993,Andi,Dumelow,Female,6,1974-12-05,Librarian,Entertainment,Mass Customer,N,No,10.0,681 Elmside Place,3750,VIC,Australia,6
3989,3994,Stephie,Byars,Female,5,1989-04-07,Structural Analysis Engineer,Manufacturing,Affluent Customer,N,No,12.0,2918 Summer Ridge Hill,3030,VIC,Australia,2
3990,3995,Rusty,Iapico,Male,93,1975-12-12,Staff Scientist,Manufacturing,Mass Customer,N,Yes,14.0,613 Erie Lane,2088,NSW,Australia,12
3991,3996,Rosalia,Halgarth,Female,8,1975-08-09,VP Product Management,Health,Mass Customer,N,No,19.0,0 Transport Center,3977,VIC,Australia,6
3992,3997,Blanch,Nisuis,Female,87,2001-07-13,Statistician II,Manufacturing,High Net Worth,N,Yes,1.0,4 Dovetail Crossing,2350,NSW,Australia,2
3993,3998,Sarene,Woolley,Unknown,60,NaT,Assistant Manager,IT,High Net Worth,N,No,NaN,736 Roxbury Junction,2540,NSW,Australia,6
3994,3999,Patrizius,NaN,Male,11,1973-10-24,NaN,Manufacturing,Affluent Customer,N,Yes,10.0,1482 Hauk Trail,3064,VIC,Australia,3
3995,4000,Kippy,Oldland,Male,76,1991-11-05,Software Engineer IV,NaN,Affluent Customer,N,No,11.0,57042 Village Green Point,4511,QLD,Australia,6

In [26]:
cus_info["last_name"].fillna("NA",inplace=True)
cus_info["DOB"].fillna("NA",inplace=True)
cus_info["job_title"].fillna("NA",inplace=True)
cus_info["job_industry_category"].fillna("NA",inplace=True)
cus_info["tenure"].fillna("NA",inplace=True)

In [27]:
cus_info.isna().sum()

customer_id                            0
first_name                             0
last_name                              0
gender                                 0
past_3_years_bike_related_purchases    0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
deceased_indicator                     0
owns_car                               0
tenure                                 0
address                                0
postcode                               0
state                                  0
country                                0
property_valuation                     0
dtype: int64

# combine cusotmer info with customer transaction

In [28]:
cus_transaction1=cus_transaction.copy()

In [29]:
# drop null value before join
cus_transaction1.dropna(how='all')

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0
5,6,25,2339,2017-03-08,1.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,39031.0
6,7,22,1542,2017-04-21,1.0,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,34165.0
7,8,15,2459,2017-07-15,0.0,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915.0
8,9,67,1305,2017-08-10,0.0,Approved,Solex,Standard,medium,large,1071.23,380.74,33455.0
9,10,12,3262,2017-08-30,1.0,Approved,WeareA2B,Standard,medium,medium,1231.15,161.60,38216.0
10,11,5,1986,2017-01-17,0.0,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,40784.0
11,12,61,2783,2017-01-05,1.0,Approved,OHM Cycles,Standard,low,medium,71.16,56.93,42172.0
12,13,35,1243,2017-02-26,1.0,Approved,Trek Bicycles,Standard,low,medium,1057.51,154.40,34527.0
13,14,16,2717,2017-09-10,0.0,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,34586.0
14,15,12,247,2017-06-11,0.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,38193.0
15,16,3,2961,2017-10-10,0.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,37873.0
16,17,79,2426,2017-04-03,0.0,Approved,Norco Bicycles,Standard,medium,medium,1555.58,818.01,38206.0
17,18,33,1842,2017-06-02,0.0,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.18,33888.0
18,19,54,2268,2017-04-06,1.0,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915.0
19,20,25,3002,2017-01-28,1.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,37337.0
20,21,27,1582,2017-10-09,0.0,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,36334.0
21,22,37,595,2017-06-29,1.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
22,23,37,2001,2017-04-08,1.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,42145.0
23,24,82,515,2017-10-18,0.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,42404.0
24,25,89,2822,2017-06-11,0.0,Approved,WeareA2B,Touring,medium,large,1362.99,57.74,34079.0
25,26,64,2596,2017-01-10,0.0,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,42145.0
26,27,64,2666,2017-04-11,1.0,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,41047.0
27,28,19,76,2017-12-23,0.0,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,42560.0
28,29,72,3368,2017-10-13,1.0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,42710.0
29,30,91,1173,2017-03-15,0.0,Approved,WeareA2B,Standard,low,medium,642.31,513.85,41922.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,19971,1,1464,2017-03-18,0.0,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,41245.0
19971,19972,46,2967,2017-05-10,0.0,Approved,Solex,Standard,low,medium,1289.85,74.51,37220.0
19972,19973,39,1188,2017-05-13,1.0,Approved,Giant Bicycles,Standard,medium,large,1812.75,582.48,38750.0
19973,19974,80,148,2017-11-17,1.0,Approved,OHM Cycles,Touring,low,medium,1073.07,933.84,33429.0
19974,19975,88,3129,2017-09-08,1.0,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,34527.0
19975,19976,35,1700,2017-10-22,0.0,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,42688.0
19976,19977,44,1102,2017-01-02,0.0,Approved,WeareA2B,Standard,medium,medium,1769.64,108.76,38750.0
19977,19978,57,932,2017-10-08,1.0,Approved,WeareA2B,Touring,medium,large,1890.39,260.14,33259.0
19978,19979,27,333,2017-12-08,1.0,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,37698.0
19979,19980,30,1435,2017-03-04,1.0,Approved,Solex,Standard,high,medium,748.17,448.90,37337.0
19980,19981,95,3304,2017-06-07,0.0,Approved,Giant Bicycles,Standard,medium,large,569.56,528.43,37874.0
19981,19982,28,1075,2017-07-20,1.0,Approved,Solex,Road,medium,small,1703.52,1516.13,40649.0
19982,19983,11,1137,2017-03-11,1.0,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,39298.0
19983,19984,80,275,2017-07-02,0.0,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,41047.0
19984,19985,31,873,2017-11-15,1.0,Approved,Giant Bicycles,Standard,medium,medium,230.91,173.18,34527.0
19985,19986,36,2918,2017-11-09,1.0,Approved,Solex,Standard,low,medium,945.04,507.58,39526.0
19986,19987,38,2385,2017-11-01,0.0,Approved,Solex,Standard,medium,medium,1577.53,826.51,40618.0
19987,19988,0,13,2017-04-05,1.0,Approved,Norco Bicycles,Road,medium,medium,544.05,376.84,42105.0
19988,19989,0,714,2017-04-27,1.0,Approved,Norco Bicycles,Standard,low,medium,363.01,290.41,37626.0
19989,19990,55,135,2017-01-27,1.0,Cancelled,Trek Bicycles,Road,medium,large,1894.19,598.76,37823.0
19990,19991,78,425,2017-01-26,0.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42218.0
19991,19992,11,1374,2017-09-14,0.0,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,39298.0
19992,19993,13,5,2017-04-28,0.0,Approved,Solex,Standard,medium,medium,1163.89,589.27,39880.0
19993,19994,77,2618,2017-12-23,0.0,Approved,Norco Bicycles,Road,medium,large,1240.31,795.10,40553.0
19994,19995,9,718,2017-05-13,1.0,Approved,OHM Cycles,Road,medium,medium,742.54,667.40,38216.0
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823.0
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,35560.0
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410.0
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216.0
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334.0

In [30]:
# fill blanks and n/a with NA,
cus_transaction1
cols=["online_order","brand ",'product_line ','product_class ','product_size','standard_cost','product_first_sold_date']
def replace_columns(row):
    for col in cols: 
        if row[col]=="n/a ":
            row[col]=="NA"
        return row 
cus_transaction1.apply(replace_columns,axis=1)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0
5,6,25,2339,2017-03-08,1.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,39031.0
6,7,22,1542,2017-04-21,1.0,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,34165.0
7,8,15,2459,2017-07-15,0.0,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915.0
8,9,67,1305,2017-08-10,0.0,Approved,Solex,Standard,medium,large,1071.23,380.74,33455.0
9,10,12,3262,2017-08-30,1.0,Approved,WeareA2B,Standard,medium,medium,1231.15,161.60,38216.0
10,11,5,1986,2017-01-17,0.0,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,40784.0
11,12,61,2783,2017-01-05,1.0,Approved,OHM Cycles,Standard,low,medium,71.16,56.93,42172.0
12,13,35,1243,2017-02-26,1.0,Approved,Trek Bicycles,Standard,low,medium,1057.51,154.40,34527.0
13,14,16,2717,2017-09-10,0.0,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,34586.0
14,15,12,247,2017-06-11,0.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,38193.0
15,16,3,2961,2017-10-10,0.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,37873.0
16,17,79,2426,2017-04-03,0.0,Approved,Norco Bicycles,Standard,medium,medium,1555.58,818.01,38206.0
17,18,33,1842,2017-06-02,0.0,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.18,33888.0
18,19,54,2268,2017-04-06,1.0,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915.0
19,20,25,3002,2017-01-28,1.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,37337.0
20,21,27,1582,2017-10-09,0.0,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,36334.0
21,22,37,595,2017-06-29,1.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
22,23,37,2001,2017-04-08,1.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,42145.0
23,24,82,515,2017-10-18,0.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,42404.0
24,25,89,2822,2017-06-11,0.0,Approved,WeareA2B,Touring,medium,large,1362.99,57.74,34079.0
25,26,64,2596,2017-01-10,0.0,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,42145.0
26,27,64,2666,2017-04-11,1.0,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,41047.0
27,28,19,76,2017-12-23,0.0,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,42560.0
28,29,72,3368,2017-10-13,1.0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,42710.0
29,30,91,1173,2017-03-15,0.0,Approved,WeareA2B,Standard,low,medium,642.31,513.85,41922.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,19971,1,1464,2017-03-18,0.0,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,41245.0
19971,19972,46,2967,2017-05-10,0.0,Approved,Solex,Standard,low,medium,1289.85,74.51,37220.0
19972,19973,39,1188,2017-05-13,1.0,Approved,Giant Bicycles,Standard,medium,large,1812.75,582.48,38750.0
19973,19974,80,148,2017-11-17,1.0,Approved,OHM Cycles,Touring,low,medium,1073.07,933.84,33429.0
19974,19975,88,3129,2017-09-08,1.0,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,34527.0
19975,19976,35,1700,2017-10-22,0.0,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,42688.0
19976,19977,44,1102,2017-01-02,0.0,Approved,WeareA2B,Standard,medium,medium,1769.64,108.76,38750.0
19977,19978,57,932,2017-10-08,1.0,Approved,WeareA2B,Touring,medium,large,1890.39,260.14,33259.0
19978,19979,27,333,2017-12-08,1.0,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,37698.0
19979,19980,30,1435,2017-03-04,1.0,Approved,Solex,Standard,high,medium,748.17,448.90,37337.0
19980,19981,95,3304,2017-06-07,0.0,Approved,Giant Bicycles,Standard,medium,large,569.56,528.43,37874.0
19981,19982,28,1075,2017-07-20,1.0,Approved,Solex,Road,medium,small,1703.52,1516.13,40649.0
19982,19983,11,1137,2017-03-11,1.0,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,39298.0
19983,19984,80,275,2017-07-02,0.0,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,41047.0
19984,19985,31,873,2017-11-15,1.0,Approved,Giant Bicycles,Standard,medium,medium,230.91,173.18,34527.0
19985,19986,36,2918,2017-11-09,1.0,Approved,Solex,Standard,low,medium,945.04,507.58,39526.0
19986,19987,38,2385,2017-11-01,0.0,Approved,Solex,Standard,medium,medium,1577.53,826.51,40618.0
19987,19988,0,13,2017-04-05,1.0,Approved,Norco Bicycles,Road,medium,medium,544.05,376.84,42105.0
19988,19989,0,714,2017-04-27,1.0,Approved,Norco Bicycles,Standard,low,medium,363.01,290.41,37626.0
19989,19990,55,135,2017-01-27,1.0,Cancelled,Trek Bicycles,Road,medium,large,1894.19,598.76,37823.0
19990,19991,78,425,2017-01-26,0.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42218.0
19991,19992,11,1374,2017-09-14,0.0,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,39298.0
19992,19993,13,5,2017-04-28,0.0,Approved,Solex,Standard,medium,medium,1163.89,589.27,39880.0
19993,19994,77,2618,2017-12-23,0.0,Approved,Norco Bicycles,Road,medium,large,1240.31,795.10,40553.0
19994,19995,9,718,2017-05-13,1.0,Approved,OHM Cycles,Road,medium,medium,742.54,667.40,38216.0
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823.0
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,35560.0
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410.0
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216.0
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334.0

In [31]:
# fill non value data with NA 
cus_transaction1["online_order"].fillna("NA",inplace=True)
cus_transaction1["brand"].fillna("NA",inplace=True)
cus_transaction1["product_line"].fillna("NA",inplace=True)
cus_transaction1["product_class"].fillna("NA",inplace=True)
cus_transaction1["product_size"].fillna("NA",inplace=True)
cus_transaction1["standard_cost"].fillna("NA",inplace=True)
cus_transaction1["product_first_sold_date"].fillna("NA",inplace=True)

In [32]:
cus_transaction1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
transaction_id             20000 non-null int64
product_id                 20000 non-null int64
customer_id                20000 non-null int64
transaction_date           20000 non-null datetime64[ns]
online_order               20000 non-null object
order_status               20000 non-null object
brand                      20000 non-null object
product_line               20000 non-null object
product_class              20000 non-null object
product_size               20000 non-null object
list_price                 20000 non-null float64
standard_cost              20000 non-null object
product_first_sold_date    20000 non-null object
dtypes: datetime64[ns](1), float64(1), int64(3), object(8)
memory usage: 2.0+ MB

In [33]:
# check if data is null
cus_transaction1.isnull().sum()

transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [34]:
# after we acess and clean everything we merge all data 1 file then export to an excel file 
cus_info=cus_info.merge(cus_transaction1, on="customer_id")
cus_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19968 entries, 0 to 19967
Data columns (total 29 columns):
customer_id                            19968 non-null int64
first_name                             19968 non-null object
last_name                              19968 non-null object
gender                                 19968 non-null object
past_3_years_bike_related_purchases    19968 non-null int64
DOB                                    19968 non-null object
job_title                              19968 non-null object
job_industry_category                  19968 non-null object
wealth_segment                         19968 non-null object
deceased_indicator                     19968 non-null object
owns_car                               19968 non-null object
tenure                                 19968 non-null object
address                                19968 non-null object
postcode                               19968 non-null int64
state                                  19968 non-null object
country                                19968 non-null object
property_valuation                     19968 non-null int64
transaction_id                         19968 non-null int64
product_id                             19968 non-null int64
transaction_date                       19968 non-null datetime64[ns]
online_order                           19968 non-null object
order_status                           19968 non-null object
brand                                  19968 non-null object
product_line                           19968 non-null object
product_class                          19968 non-null object
product_size                           19968 non-null object
list_price                             19968 non-null float64
standard_cost                          19968 non-null object
product_first_sold_date                19968 non-null object
dtypes: datetime64[ns](1), float64(1), int64(6), object(21)
memory usage: 4.6+ MB

# Export to new csv

In [37]:
writer = pd.ExcelWriter('KPMG_output.xlsx',engine='xlsxwriter')

# Write each dataframe to a different worksheet.
cus_list1.to_excel(writer, sheet_name='Newcustomerlist')
cus_info.to_excel(writer, sheet_name='Newcustomerinfomation')
# Close the Pandas Excel writer and output the Excel file.
writer.save()